<p id="notice"><%= notice %></p>

<p>
  <b>Nom:</b>
  <%= @ejercicio1.nom %>
</p>

<p>
  <b>Id:</b>
  <%= @ejercicio1.id %>
</p>


<%= link_to 'Edit', edit_ejercicio1_path(@ejercicio1) %> |
<%= link_to 'Back', ejercicio1s_path %>
