<div class="row">
	<div class="twelve columns centered">
		
		<div class="row">
			<div class="encabezado">
				
			</div>
		</div>		
	
		<br /><br /><br /><br /><br /><br />
	
		<div class="row">
			<div class="twelve columns centered">
				<div id="sb-slider" class="sb-slider">
				
					<%= image_tag("constante1.png", :title =>'Constante: Definición')%>
					<%= image_tag("constante2.png", :title =>'Constante: Definición')%>
					<%= image_tag("constante3.png", :title =>'Constante: Definición')%>
					<%= image_tag("constante4.png", :title =>'Constante: Tipos de datos')%>
					<%= image_tag("constante5.png", :title =>'Datos: Ejemplos....')%>
					<%= image_tag("constante6.png", :title =>'Datos: Definición')%>
					<%= image_tag("constante7.png", :title =>'Datos: Definición')%>
					<%= image_tag("constante8.png", :title =>'Datos: Definición')%>
					
				</div>
			</div>
		</div>	
		<div class="lecciones1">
             	<input onclick="location.href = '/leccion2/ejer2.html'" type=image src="/assets/menuprincipal.png" width="80" height="80">
   		</div>
   		<div class="lecciones2">
             	<input onclick="location.href = '/leccion2/ejer2.html'" type=image src="/assets/anterior.png" width="100" height="60">
   		</div>
   		<div class="lecciones3">
             	<input onclick="location.href = '/leccion2/ejer2.html'" type=image src="/assets/siguiente.png" width="100" height="60">
   		</div>
	</div>
		</div>