<div class="row">
	<div class="twelve columns centered">
		
		<div class="row">
			<div class="encabezado">
				
			</div>
		</div>		
	
		<br /><br /><br /><br /><br /><br />
	
		<div class="row">
			<div class="twelve columns centered">
				<div id="sb-slider" class="sb-slider">
				
					<%= image_tag("datos1.png", :title =>'Datos: Definición')%>
					<%= image_tag("datos2.png", :title =>'Datos: Definición')%>
					<%= image_tag("datos3.png", :title =>'Datos: Definición')%>
					<%= image_tag("datos4.png", :title =>'Datos: Tipos de datos')%>
					<%= image_tag("datos5.png", :title =>'Datos: Ejemplos....')%>
					
				</div>
			</div>
		</div>	
</div>

