		<center>
<center><h6>MENÚ</h6></center>
</br>
</br>
</br>
</br>

			
			<ul id="sdt_menu" class="sdt_menu">
				<li>
					<a href="/leccion2/introduccion.html">
						
						<%= image_tag("/assets/1.jpg" , :alt=>"")%>
						<span class="sdt_active"></span>
						<span class="sdt_wrap">
							<span class="sdt_link">Introducción</span>
							<span class="sdt_descr"></span>
						</span>
					</a>
				</li>
				<li>
					<a href="/leccion2/cuestionarioinicial.html">
						<%= image_tag("/assets/2.jpg" , :alt=>"")%>
						<span class="sdt_active"></span>
						<span class="sdt_wrap">
							<span class="sdt_link">Cuestionario inicial</span>
							<span class="sdt_descr"></span>
						</span>
					</a>			
				</li>
				<li>
					<a href="#">
						<%= image_tag("/assets/3.jpg" , :alt=>"")%>
						<span class="sdt_active"></span>
						<span class="sdt_wrap">
							<span class="sdt_link">Lecciones</span>
							<span class="sdt_descr"></span>
						</span>
					</a>
					<div class="sdt_box">
							<a href="/leccion2/datos.html">Datos</a>
							<a href="/leccion2/literal.html">Literales</a>
							<a href="/leccion2/constante.html">Constantes</a>
							<a href="/leccion2/identificadores.html">Identificadores</a>
							<a href="/leccion2/variables.html">Variables</a>
							<a href="/leccion2/parametros.html">Parametros</a>
							<a href="/leccion2/operadores.html">Operadores</a>
							<a href="/leccion2/Entradaysalidadedatos.html">Entrada y Salida de datos</a>
					</div>
				</li>
				<li>
					<a href="#">
						<%= image_tag("/assets/4.jpg" , :alt=>"")%>
						<span class="sdt_active"></span>
						<span class="sdt_wrap">
							<span class="sdt_link">Ejercicios</span>
							<span class="sdt_descr"></span>
						</span>
					</a>
					<div class="sdt_box">
							<a href="/leccion2/ejer1.html">Datos</a>
							<a href="#">Literales</a>
							<a href="#">Constantes</a>
							<a href="#">Identificadores</a>
							<a href="#">Variables</a>
							<a href="#">Parametros</a>
							<a href="#">Operadores</a>
							<a href="/leccion2/ejer2.html">Entrada y Salida de datos</a>
					</div>
				</li>
				<li>
					<a href="/leccion2/puntuaciones.html">
						<%= image_tag("/assets/5.jpg" , :alt=>"")%>
						<span class="sdt_active"></span>
						<span class="sdt_wrap">
							<span class="sdt_link">Puntuaciones</span>
							
						</span>
					</a>
				</li>
				<li>
					<a href="/leccion2/cuestionariofinal.html">
				<%= image_tag("/assets/6.jpg", :alt=>"")%>
						<span class="sdt_active"></span>
						<span class="sdt_wrap">
							<span class="sdt_link">Cuestionario Final</span>					
						</span>
					</a>
					
				</li>
			</ul>
		<center>
			
		</center>
