<div class="row">
	<div class="twelve columns centered">
		
		<div class="row">
			<div class="encabezado">
				
			</div>
		</div>		
	
		<br /><br /><br /><br /><br /><br />
	
		<div class="row">
			<div class="twelve columns centered">
				<div id="sb-slider" class="sb-slider">
				
					<%= image_tag("operadores1.png", :title =>'Operadores: Definici贸n')%>
					<%= image_tag("operadores2.png", :title =>'Operadores: Tipos de datos...')%>
					<%= image_tag("operadores3.png", :title =>'Operadores: Definici贸n')%>
					<%= image_tag("operadores4.png", :title =>'Operadores: Tipos de datos...')%>
					<%= image_tag("operadores5.png", :title =>'Operadores: Definici贸n')%>
					<%= image_tag("operadores6.png", :title =>'Operadores: Tipos de datos...')%>
					<%= image_tag("operadores7.png", :title =>'Operadores: Definici贸n')%>
					<%= image_tag("operadores8.png", :title =>'Operadores: Tipos de datos...')%>
				</div>
			</div>
		</div>	
</div>
</div>
